/.vscode
/a.exe
/chetan.txt
/Chirag.txt
/CLI.c
/concept_of_linked_list.c
/concept_of_linked_list.exe
/Even.txt
/hello.c
/hello.exe
/Hello.txt
/Helloo.txt
/logic.c
/logic.exe
/logicpi.c
/logicpi.exe
/loop_in_linked_list.c
/mallocpractice.exe
/navneet.c
/navneet.exe
/new.c
/new.exe
/Odd.txt
/Order_of_n.c
/Order_of_n.exe
/pointersum.c
/pointersum.exe
/reading_data_from_file.c
/reading_data_from_file.exe
/sjf.c
/sjf.exe
/tempCodeRunnerFile.c
/tempCodeRunnerFile.exe
/Vivek.txt